<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Please enter the name of your fantasy team:
                    <input type="text" name="teamName" />
                    <br> -->

    <!-- <div class="form-group blu-margin">
                                    <select class="form-control" th:field="${players.playerID}" id="dropPlayers">
                                        <option value="0">select player</option>
                                        <option th:each="players : ${players}" th:value="${players.playerID}" th:text="${players.playerIGN}">
                                        </option>
                                    </select>
                                </div> -->
</body>

</html>